div{
    background-color: rgb(136, 136, 224);
}

#myId{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.myClass{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}